.content {
  width: 50%;
  height: 160px;

  background-color: #535971;

  margin:0 auto;

  border-radius: 0px 0px 20px 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  width: 610px;
  height: 56px;

  background-color: #FF5374;

  color: #fff;

  border:0 ;

  font-family: 'Staatliches';
  font-size: 20px;
  line-height: 26px;
  
  border-radius: 20px;

  cursor: pointer;
}

button:hover{
  background-color: #d84563;

}

footer .content  {
  margin-bottom: 366px;
}